imports/http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema/https%3A%2F%2Fexamples.opentosca.org%2Fcompliance%2Fnodetypes%2Fpropertiesdefinition%2Fwinery/properties/properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://examples.opentosca.org/compliance/nodetypes/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="schema_name" type="xsd:string"/><element name="user" type="xsd:string"/><element name="password" type="xsd:string"/></sequence></complexType></element></schema>